
			[data-rs-theme="productTheme"] {
					--rs-font-family-title: Inter, BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial, sans-serif;
--rs-font-family-body: Inter, BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial, sans-serif;
--rs-font-weight-regular: 400;
--rs-font-weight-medium: 500;
--rs-font-weight-semibold: 600;
--rs-font-weight-bold: 700;
--rs-font-weight-heavy: 800;
--rs-font-weight-black: 900;
--rs-font-size-title-1: 96px;
--rs-line-height-title-1: 100px;
--rs-font-family-title-1: var(--rs-font-family-title);
--rs-font-weight-title-1: var(--rs-font-weight-heavy);
--rs-font-size-title-2: 80px;
--rs-line-height-title-2: 84px;
--rs-font-family-title-2: var(--rs-font-family-title);
--rs-font-weight-title-2: var(--rs-font-weight-heavy);
--rs-font-size-title-3: 64px;
--rs-line-height-title-3: 68px;
--rs-font-family-title-3: var(--rs-font-family-title);
--rs-font-weight-title-3: var(--rs-font-weight-heavy);
--rs-font-size-title-4: 56px;
--rs-line-height-title-4: 60px;
--rs-font-family-title-4: var(--rs-font-family-title);
--rs-font-weight-title-4: var(--rs-font-weight-bold);
--rs-font-size-title-5: 48px;
--rs-line-height-title-5: 52px;
--rs-font-family-title-5: var(--rs-font-family-title);
--rs-font-weight-title-5: var(--rs-font-weight-bold);
--rs-font-size-title-6: 36px;
--rs-line-height-title-6: 40px;
--rs-font-family-title-6: var(--rs-font-family-title);
--rs-font-weight-title-6: var(--rs-font-weight-bold);
--rs-font-size-featured-1: 32px;
--rs-line-height-featured-1: 40px;
--rs-font-family-featured-1: var(--rs-font-family-body);
--rs-font-size-featured-2: 24px;
--rs-line-height-featured-2: 32px;
--rs-font-family-featured-2: var(--rs-font-family-body);
--rs-font-size-featured-3: 20px;
--rs-line-height-featured-3: 28px;
--rs-font-family-featured-3: var(--rs-font-family-body);
--rs-font-size-body-1: 18px;
--rs-line-height-body-1: 28px;
--rs-font-family-body-1: var(--rs-font-family-body);
--rs-font-size-body-2: 16px;
--rs-line-height-body-2: 24px;
--rs-font-family-body-2: var(--rs-font-family-body);
--rs-font-size-body-3: 14px;
--rs-line-height-body-3: 20px;
--rs-font-family-body-3: var(--rs-font-family-body);
--rs-font-size-caption-1: 12px;
--rs-line-height-caption-1: 16px;
--rs-font-family-caption-1: var(--rs-font-family-body);
--rs-font-size-caption-2: 10px;
--rs-line-height-caption-2: 12px;
--rs-font-family-caption-2: var(--rs-font-family-body);
--rs-unit-base: 4px;
--rs-unit-radius-small: 5px;
--rs-unit-radius-medium: 8px;
--rs-unit-radius-large: 12px;
--rs-unit-x1: 4px;
--rs-unit-x2: 8px;
--rs-unit-x3: 12px;
--rs-unit-x4: 16px;
--rs-unit-x5: 20px;
--rs-unit-x6: 24px;
--rs-unit-x7: 28px;
--rs-unit-x8: 32px;
--rs-unit-x9: 36px;
--rs-unit-x10: 40px;
--rs-color-background-page: #f5f3ef;
--rs-color-brand: #ff4f04;
--rs-color-white: #ffffff;
--rs-color-black: #000000;
--rs-color-on-background-primary: #ffffff;
--rs-color-on-background-critical: #ffffff;
--rs-color-on-background-warning: #000000;
--rs-color-on-background-positive: #ffffff;
--rs-color-rgb-background-page: 245, 243, 239;
--rs-color-on-brand: #ffffff;
--rs-color-rgb-white: 255, 255, 255;
--rs-color-rgb-black: 0, 0, 0;
--rs-duration-fast: 200ms;
--rs-duration-medium: 300ms;
--rs-duration-slow: 400ms;
--rs-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
--rs-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
--rs-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
--rs-shadow-raised: 0px 2px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
--rs-shadow-overlay: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
			}
		
			[data-rs-theme="productTheme"][data-rs-color-mode="light"] {
					--rs-color-background-primary: #ff4f04;
--rs-color-background-primary-faded: #ffefe8;
--rs-color-background-primary-highlighted: #ed4800;
--rs-color-border-primary: #d64000;
--rs-color-border-primary-faded: #fedfd1;
--rs-color-foreground-primary: #ba3700;
--rs-color-background-critical: #ff2732;
--rs-color-background-critical-faded: #ffe8e9;
--rs-color-background-critical-highlighted: #f4001b;
--rs-color-border-critical: #e10018;
--rs-color-border-critical-faded: #fdd8d9;
--rs-color-foreground-critical: #ce0015;
--rs-color-background-warning: #facc15;
--rs-color-background-warning-faded: #fffae9;
--rs-color-background-warning-highlighted: #edc113;
--rs-color-border-warning: #cfa90f;
--rs-color-border-warning-faded: #faedbb;
--rs-color-foreground-warning: #7b6305;
--rs-color-background-positive: #00ca78;
--rs-color-background-positive-faded: #e8fff6;
--rs-color-background-positive-highlighted: #00be70;
--rs-color-border-positive: #00a863;
--rs-color-border-positive-faded: #bbfae3;
--rs-color-foreground-positive: #007543;
--rs-color-background-neutral: #dbd8d5;
--rs-color-background-neutral-faded: #f5f4f3;
--rs-color-background-neutral-highlighted: #d1cdc8;
--rs-color-border-neutral: #b6b2ad;
--rs-color-border-neutral-faded: #e1e1e1;
--rs-color-foreground-neutral: #181716;
--rs-color-foreground-neutral-faded: #686562;
--rs-color-background-disabled: #efeeec;
--rs-color-background-disabled-faded: #f7f6f6;
--rs-color-border-disabled: #e4e2e0;
--rs-color-foreground-disabled: #d0cbc7;
--rs-color-background-elevation-base: #ffffff;
--rs-color-background-elevation-raised: #ffffff;
--rs-color-background-elevation-overlay: #ffffff;
--rs-color-background-page-faded: #faf9f9;
--rs-color-rgb-background-primary: 255, 79, 4;
--rs-color-rgb-background-primary-faded: 255, 239, 232;
--rs-color-rgb-background-primary-highlighted: 237, 72, 0;
--rs-color-rgb-border-primary: 214, 64, 0;
--rs-color-rgb-border-primary-faded: 254, 223, 209;
--rs-color-rgb-background-critical: 255, 39, 50;
--rs-color-rgb-background-critical-faded: 255, 232, 233;
--rs-color-rgb-background-critical-highlighted: 244, 0, 27;
--rs-color-rgb-border-critical: 225, 0, 24;
--rs-color-rgb-border-critical-faded: 253, 216, 217;
--rs-color-rgb-background-warning: 250, 204, 21;
--rs-color-rgb-background-warning-faded: 255, 250, 233;
--rs-color-rgb-background-warning-highlighted: 237, 193, 19;
--rs-color-rgb-border-warning: 207, 169, 15;
--rs-color-rgb-border-warning-faded: 250, 237, 187;
--rs-color-rgb-background-positive: 0, 202, 120;
--rs-color-rgb-background-positive-faded: 232, 255, 246;
--rs-color-rgb-background-positive-highlighted: 0, 190, 112;
--rs-color-rgb-border-positive: 0, 168, 99;
--rs-color-rgb-border-positive-faded: 187, 250, 227;
--rs-color-on-background-neutral: #000000;
--rs-color-rgb-background-neutral: 219, 216, 213;
--rs-color-rgb-background-neutral-faded: 245, 244, 243;
--rs-color-rgb-background-neutral-highlighted: 209, 205, 200;
--rs-color-rgb-border-neutral: 182, 178, 173;
--rs-color-rgb-border-neutral-faded: 225, 225, 225;
--rs-color-rgb-background-disabled: 239, 238, 236;
--rs-color-rgb-background-disabled-faded: 247, 246, 246;
--rs-color-rgb-border-disabled: 228, 226, 224;
--rs-color-rgb-background-elevation-base: 255, 255, 255;
--rs-color-rgb-background-elevation-raised: 255, 255, 255;
--rs-color-rgb-background-elevation-overlay: 255, 255, 255;
--rs-color-rgb-background-page-faded: 250, 249, 249;
			}
		
			[data-rs-theme="productTheme"][data-rs-color-mode="dark"] {
					--rs-color-background-primary: #f14e09;
--rs-color-background-primary-faded: #39221f;
--rs-color-background-primary-highlighted: #fe5926;
--rs-color-border-primary: #fe633d;
--rs-color-border-primary-faded: #512d28;
--rs-color-foreground-primary: #ff623f;
--rs-color-background-critical: #f7252f;
--rs-color-background-critical-faded: #3e1f20;
--rs-color-background-critical-highlighted: #f7494e;
--rs-color-border-critical: #f86669;
--rs-color-border-critical-faded: #58292a;
--rs-color-foreground-critical: #ff5f63;
--rs-color-background-warning: #f1c512;
--rs-color-background-warning-faded: #2c271f;
--rs-color-background-warning-highlighted: #fed014;
--rs-color-border-warning: #b4920a;
--rs-color-border-warning-faded: #3d3628;
--rs-color-foreground-warning: #b4920c;
--rs-color-background-positive: #07bd74;
--rs-color-background-positive-faded: #1f2a23;
--rs-color-background-positive-highlighted: #08c97c;
--rs-color-border-positive: #06ac69;
--rs-color-border-positive-faded: #293b2f;
--rs-color-foreground-positive: #00ac65;
--rs-color-background-neutral: #212120;
--rs-color-background-neutral-faded: #2d271f;
--rs-color-background-neutral-highlighted: #292928;
--rs-color-border-neutral: #525250;
--rs-color-border-neutral-faded: #403528;
--rs-color-foreground-neutral: #f1f0ef;
--rs-color-foreground-neutral-faded: #cbc6c1;
--rs-color-background-disabled: #222221;
--rs-color-background-disabled-faded: #1a1a19;
--rs-color-border-disabled: #2a2a29;
--rs-color-foreground-disabled: #494947;
--rs-color-background-elevation-base: #181817;
--rs-color-background-elevation-raised: #1c1c1b;
--rs-color-background-elevation-overlay: #20201f;
--rs-color-background-page-faded: #131313;
--rs-color-rgb-background-primary: 241, 78, 9;
--rs-color-rgb-background-primary-faded: 57, 34, 31;
--rs-color-rgb-background-primary-highlighted: 254, 89, 38;
--rs-color-rgb-border-primary: 254, 99, 61;
--rs-color-rgb-border-primary-faded: 81, 45, 40;
--rs-color-rgb-background-critical: 247, 37, 47;
--rs-color-rgb-background-critical-faded: 62, 31, 32;
--rs-color-rgb-background-critical-highlighted: 247, 73, 78;
--rs-color-rgb-border-critical: 248, 102, 105;
--rs-color-rgb-border-critical-faded: 88, 41, 42;
--rs-color-rgb-background-warning: 241, 197, 18;
--rs-color-rgb-background-warning-faded: 44, 39, 31;
--rs-color-rgb-background-warning-highlighted: 254, 208, 20;
--rs-color-rgb-border-warning: 180, 146, 10;
--rs-color-rgb-border-warning-faded: 61, 54, 40;
--rs-color-rgb-background-positive: 7, 189, 116;
--rs-color-rgb-background-positive-faded: 31, 42, 35;
--rs-color-rgb-background-positive-highlighted: 8, 201, 124;
--rs-color-rgb-border-positive: 6, 172, 105;
--rs-color-rgb-border-positive-faded: 41, 59, 47;
--rs-color-on-background-neutral: #ffffff;
--rs-color-rgb-background-neutral: 33, 33, 32;
--rs-color-rgb-background-neutral-faded: 45, 39, 31;
--rs-color-rgb-background-neutral-highlighted: 41, 41, 40;
--rs-color-rgb-border-neutral: 82, 82, 80;
--rs-color-rgb-border-neutral-faded: 64, 53, 40;
--rs-color-rgb-background-disabled: 34, 34, 33;
--rs-color-rgb-background-disabled-faded: 26, 26, 25;
--rs-color-rgb-border-disabled: 42, 42, 41;
--rs-color-rgb-background-elevation-base: 24, 24, 23;
--rs-color-rgb-background-elevation-raised: 28, 28, 27;
--rs-color-rgb-background-elevation-overlay: 32, 32, 31;
--rs-color-rgb-background-page-faded: 19, 19, 19;
			}
		